.user_font_modern{font-family:"Helvetica Neue",Helvetica,Arial,"Liberation Sans",sans-serif;}
.user_font_classic{font-family:Tahoma,Arial,sans-serif;}
.user_font_wide{font-family:Verdana,sans-serif;}
.user_font_system{font-family:"Segoe UI","Lucida Sans",sans-serif;}
P,TH,TD,DIV,SELECT,INPUT[type=text],INPUT[type=password],INPUT[type=file],TEXTAREA,BUTTON{font-size:11px;}
HTML{width:100%;height:100%;}
BODY{width:100%;height:100%;margin:0;}
FORM{margin:0;padding:0;}
TABLE{border-collapse:collapse;border-spacing:0;border-width:0;}
TD{border-width:0;padding:0;}
FIELDSET{border:1px solid #b2b2b2;padding:5px;margin:5px;}
LEGEND{font-weight:bold;color:#333;overflow:hidden;white-space:nowrap;}
INPUT[readonly]{color:#999;background-color:transparent;border:1px solid #d6d6d6;}
TEXTAREA{padding:2px 4px;cursor:text;color:black;background-color:white;border:1px solid;border-color:#3b3b3b #d6d6d6 #d6d6d6 #3b3b3b;resize:none;}
TEXTAREA[readonly]{color:#999;background-color:transparent;border:1px solid #d6d6d6;}
INPUT[type="checkbox"]{cursor:pointer;}
.CompactTable{border-collapse:collapse;border-spacing:0;padding:0;}
.fullSize{width:100%;height:100%;}
.fullWidth{width:100%;}
.fullHeight{height:100%;}
.minSize{width:1px;height:1px;}
.leftAlign{text-align:left;}
.rightAlign{text-align:right;}
.checkboxLabel{font-weight:bold;}
.ToolbarBg{background-color:transparent;}
.ZmHead{font-size:15px;font-weight:bold;}
.ZmSubHead{font-size:13px;}
.ZmBigger{font-size:15px;font-weight:bold;}
.ZmFinePrint{font-size:9px;}
.ZmImportant{color:darkred;}
.ZmFieldLabel{color:#333;overflow:hidden;white-space:nowrap;}
.ZmFieldLabelLeft{color:#333;overflow:hidden;white-space:nowrap;text-align:left;}
.ZmFieldLabelRight{color:#333;overflow:hidden;white-space:nowrap;text-align:right;}
.ZmFieldLabelCenter{color:#333;overflow:hidden;white-space:nowrap;text-align:center;}
ZmSectionLabel{color:#333;overflow:hidden;white-space:nowrap;border-bottom:1px solid #b2b2b2;font-size:15px;font-weight:bold;}
.TextPadding{padding-left:3px;padding-right:3px;}
.BigHeaderBg{padding-top:1px;border-bottom:1px solid #b2b2b2;background-color:#d6d6d6;height:36px;}
.ZmOverride{background-color:#FFF6BF;padding:2px;}
.ZmGraphKey{background-color:#fafafa;border-color:#777 #bebebe #bebebe #777777;margin:0;border-width:1px;border-style:solid;}
.ZmGraphKeyHeader{background-color:#d6d6d6;font-size:13px;color:#333;padding-left:3px;padding-right:3px;text-align:left;font-weight:bold;vertical-align:middle;}
.ZmGraphKeyBody{padding:5px;margin:5px;}
.ZmGraphKeyColorBox{border-color:#777 #bebebe #bebebe #777777;margin:0;border-width:1px;border-style:solid;width:10px;height:10px;}
.ZmGraphKeyColorText{color:#333;white-space:nowrap;overflow:hidden;}
.horizSep{height:1px!important;border-bottom:1px solid #b2b2b2;font-size:1px;line-height:1px;margin:5px 0;width:100%;}
.vertSep{border-left:1px solid #b2b2b2;margin-left:3px;padding-right:3px;height:20px;}
DIV.vSpace{margin:5px 0;}
TD.vSpace{width:2px;}
.AttLink:link,.AttLink:visited{color:#369;text-decoration:none;cursor:pointer;}
.AttLink:hover{color:#369;text-decoration:underline;}
.AttLink:active{color:darkgreen;text-decoration:underline;}
.Row-selected .AttLink:link,.Row-selected .AttLink:active,.Row-selected .AttLink:visited{color:#369;text-decoration:none;cursor:pointer;}
.AttLink:hover,.Row-selected .AttLink:hover{color:#369;text-decoration:underline;}
.DragProxy{opacity:.7;}
.notDroppable{border:2px solid red!important;background-color:#DFECF5;box-shadow:5px 5px 15px #999;opacity:.7;}
.notDroppable-linux{border:2px solid red!important;background-color:#DFECF5;box-shadow:5px 5px 15px #999;}
.droppable{border:2px solid green!important;background-color:#DFECF5;box-shadow:5px 5px 15px #999;opacity:.7;}
.droppable-linux{border:2px solid green!important;background-color:#DFECF5;box-shadow:5px 5px 15px #999;}
.DropTarget{border:1px solid green!important;}
.DragProxyTextLabel{font-weight:bold;color:white;}
.BusyOverlay TABLE,.VeilOverlay TABLE{opacity:.5;cursor:wait;background-color:transparent;}
.BusyOverlay-linux TABLE,.VeilOverlay-linux TABLE{cursor:wait;background-color:transparent;}
.VeilOverlay TABLE{cursor:default!important;cursor:not-allowed!important;background-color:white;}
.VeilOverlay-linux TABLE{cursor:default!important;cursor:not-allowed!important;}
.CurtainOverlay TABLE{background-color:white;}
.Row{height:18px;cursor:pointer;border-style:solid;border-width:1px 0;border-color:#f8f8f8;-khtml-user-select:none;}
.RowDouble{height:18px;cursor:pointer;border-style:solid;border-width:1px 0;border-color:#f8f8f8;-khtml-user-select:none;height:36px;border-bottom-color:#CCC;padding-top:3px;}
.Row TABLE,.RowDouble TABLE{table-layout:fixed;}
.Row TD,.RowDouble TD{vertical-align:middle;white-space:nowrap;overflow:hidden;}
.RowDouble TD{vertical-align:top;}
.RowDouble TD.SubjectDoubleRow{vertical-align:text-bottom;}
.Row{background-color:#fefefe;border-top-color:#fefefe;}
.RowOdd{background-color:#fafafa;border-top-color:#fafafa;}
.selected,.Row-selected,.Row-selected-dragProxy,.Row-selected-disabled{background-color:#DFECF5!important;border-top-color:#DFECF5!important;background-image:none!important;}
.Row-matched-dragProxy{background-color:yellow;border-style:solid;border-width:1px 0;border-color:#fefefe;}
.Row-matched TABLE,.Row-matched-drag TABLE{table-layout:fixed;}
.Row-focused{border-color:#b2bcc4 #858d93 #858d93 #b2bcc4;margin:0;border-width:1px;border-style:solid;border-width:1px 0;}
.Row-selected-actioned{background-color:#DFECF5!important;border-color:#DFECF5!important;}
.Row-dragProxy,.Row-matched-dragProxy{background-color:#DFECF5!important;}
.Row TD,.RowDouble TD{color:#333;}
.RowOdd TD{color:#333;}
.selected TD,.Row-selected TD,.Row-selected-dragProxy TD,.Row-selected-disabled TD{color:black;}
.Row-focused TD{color:#333;}
.Row-selected-right TD{color:#333;}
.Row-dragProxy TD,.Row-matched-dragProxy TD{color:#333;}
.Row TD.Flag,.Row TD.Attach,.Row TD.Tag,.Row TD.Icon,.Row TD.Count,.Row-selected TD.Flag,.Row-selected TD.Attach,.Row-selected TD.Tag,.Row-selected TD.Icon,.Row-selected TD.Count,.Row-dragProxy TD.Flag,.Row-dragProxy TD.Attach,.Row-dragProxy TD.Tag,.Row-dragProxy TD.Icon,.Row-dragProxy TD.Count,.Row-selected-dragProxy TD.Flag,.Row-selected-dragProxy TD.Attach,.Row-selected-dragProxy TD.Tag,.Row-selected-dragProxy TD.Icon,.Row-selected-dragProxy TD.Count,.Row-matched-dragProxy TD.Flag,.Row-matched-dragProxy TD.Attach,.Row-matched-dragProxy TD.Tag,.Row-matched-dragProxy TD.Icon,.Row-matched-dragProxy TD.Count,.Row-dragProxy TD.Flag,.Row-dragProxy TD.Attach,.Row-dragProxy TD.Tag,.Row-dragProxy TD.Icon,.Row-dragProxy TD.Count{text-align:center;}
.RowDouble TD.Count,.RowDouble-selected TD.Count{text-align:right;}
.Unread{font-weight:bold;color:#333;}
.Trash{color:#999;text-decoration:line-through;}
.Unread .SubjectDoubleRow{font-weight:bold;color:#333;}
.ZmOverview{width:100%;height:100%;}
.ZmOverviewContainer{background-color:#fdfdfd;border:1px solid #a6a6a6;}
.ZmVoiceOverviewContainer .ZmOverview,.ZmOverviewContainer .ZmOverview,.dialogOverviewContainer .OverviewTree{height:auto;}
.OverviewTree{width:100%;}
.dialogOverview{background-color:#fdfdfd;border:1px solid #a6a6a6;border-color:#777 #bebebe #bebebe #777777;margin:0;border-width:1px;border-style:solid;padding:5px;height:200px;}
.dialogOverviewContainer{background-color:#fdfdfd;}
.dialogOverview TD{color:#333;}
.pickerOverview{background-color:#fdfdfd;border:1px solid #a6a6a6;height:100%;}
.overviewHeader,.overviewHeader-actioned{cursor:default;background-color:#d6d6d6;border-bottom:1px solid #b2b2b2;color:#333;font-weight:bold;padding-top:1px;padding-bottom:1px;}
.overviewHeader-Text,.overviewHeader-dragOver{color:#333;font-weight:bold;}
.overviewHeader-selected{color:#333;font-weight:bold;background-color:#e7f0f7!important;padding-top:1px;padding-bottom:1px;}
.overviewHeader-selected-focused{color:#333;font-weight:bold;background-color:#DFECF5!important;}
.overviewHeader .imageCell,.overviewHeader-actioned .imageCell{padding-right:5px;white-space:nowrap;}
.inlineIcon{font-family:Verdana;font-size:13px;}
.inlineContactTagIcon{font-size:11px;vertical-align:middle;}
.TooltipHint{font-style:italic;text-align:center;white-space:nowrap;}
.TooltipNotInAddrBook{white-space:nowrap;text-align:center;padding:8px 0 5px 0;}
.ImgTagShared{display:inline-block;}
.FakeAnchor,a:link,a:visited{color:#369;text-decoration:none;cursor:pointer;}
.FakeAnchor:hover,a:hover{color:#369;text-decoration:underline;}
.FakeAnchor:active,a:active{color:darkgreen;text-decoration:underline;}
.LoginScreen P,.LoginScreen TH,.LoginScreen TD,.LoginScreen DIV,.LoginScreen SPAN,.LoginScreen SELECT,.LoginScreen INPUT,.LoginScreen TEXTAREA,.LoginScreen BUTTON,.LoginScreen A{font-family:"Helvetica Neue",Helvetica,Arial,"Liberation Sans",sans-serif;}
HTML{width:100%;height:100%;}
BODY{background-color:#EEE;width:100%;height:100%;margin:0;}
FORM{margin:0;padding:0;}
.ZSplashScreen{background-color:#EEE;width:100%;height:100%;top:0;left:0;position:absolute;}
#ZLoginPanel{position:relative;width:500px;overflow:visible;background-color:#e2e2e2;box-shadow:5px 5px 15px #999;border-radius:4px;border-color:#8e8e8e #777777 #777 #8e8e8e;margin:0;border-width:1px;border-style:solid;}
.LoginScreen FORM{text-align:center;}
.form{color:white;margin:0 auto;border-collapse:collapse;text-align:left;}
.form TD:first-child LABEL{margin-right:20px;}
.form TD{padding-bottom:10px;}
.form INPUT[type='text'],.form INPUT[type='password']{border:1px solid #EEE;height:22px;width:235px;}
.form INPUT[type='text']:focus,.form INPUT[type='password']:focus{border:1px solid #DFECF5;}
.form SELECT{height:22px;width:165px;}
.form .submitTD{text-align:left;}
.form .ZLoginButton{border-radius:3px;box-shadow:0 1px 3px rgba(50,50,50,0.75);border:1px solid white;float:right;font-size:11px;}
.form HR{border-color:transparent transparent white;height:0;}
.LoginScreen #ZLoginErrorPanel{border:0;left:auto;margin:10px 10%;position:relative;background-color:#FF9;padding:5px;border-radius:8px;}
.LoginScreen #ZLoginErrorIcon{margin:auto 10px auto auto;}
.LoginScreen .postioning{position:relative;z-index:20;}
.LoginScreen #ZLoginWhatsThisAnchor{color:white;font-size:10px;margin-left:5px;}
.LoginScreen #ZLoginWhatsThis{margin-left:-10em;position:absolute;width:40em;top:25px;left:0;z-index:30;}
.LoginScreen .ZLoginInfoMessage{background-color:#EEE;border:1px solid #006f9e;color:#333;padding:3px 7px;text-align:left;box-shadow:0 0 2px black;}
.DwtButton{height:22px;cursor:pointer;background-image:-webkit-gradient(linear,left top,bottom bottom,to(#fff),from(#dfe2e2));background-image:-webkit-linear-gradient(top,#fff,#dfe2e2);box-shadow:0 1px 3px rgba(50,50,50,0.75);}
.DwtButton-hover{height:22px;cursor:pointer;background-image:-webkit-gradient(linear,left top,bottom bottom,to(#fff),from(#b8def3));background-image:-webkit-linear-gradient(top,#fff,#b8def3);box-shadow:0 1px 3px rgba(50,50,50,0.75);}
.DwtButton-active{height:22px;cursor:pointer;background-image:-webkit-gradient(linear,left top,bottom bottom,to(#e3f4fc),from(#74b6dd));background-image:-webkit-linear-gradient(top,#e3f4fc,#74b6dd);box-shadow:0 0 4px rgba(50,50,50,0.65);}
.DwtButton-selected{height:22px;cursor:pointer;background-image:-webkit-gradient(linear,left top,bottom bottom,to(#e3f4fc),from(#74b6dd));background-image:-webkit-linear-gradient(top,#e3f4fc,#74b6dd);box-shadow:0 1px 3px rgba(50,50,50,0.75);}
.DwtButton-disabled{height:22px;cursor:pointer;background-image:-webkit-gradient(linear,left top,bottom bottom,to(#f4f4f4),from(#f4f4f4));background-image:-webkit-linear-gradient(top,#f4f4f4,#f4f4f4);box-shadow:0 1px 3px rgba(50,50,50,0.25);}
.DwtButton-active{height:22px;cursor:pointer;border-color:#777 #3b3b3b #3b3b3b #777777;margin:0;border-width:1px;border-style:solid;background-color:#e2edf6;}
.DwtButton-focused{height:22px;cursor:pointer;background-image:-webkit-gradient(linear,left top,bottom bottom,to(#fff),from(#dfe2e2));background-image:-webkit-linear-gradient(top,#fff,#dfe2e2);box-shadow:0 1px 3px rgba(50,50,50,0.75);}
.DwtButton .Text{text-align:center;color:#333;}
.DwtButton-hover .Text{text-align:center;color:#333;}
.DwtButton-active .Text{text-align:center;color:#333;}
.DwtButton-selected .Text{text-align:center;color:#333;}
.DwtButton-disabled .Text{text-align:center;color:#999;}
.DwtButton-active .Text{text-align:center;color:#333;}
.DwtButton-focused .Text{text-align:center;color:#333;}
.LaunchButton{padding:10px;text-align:center;}
.LaunchButton INPUT{background-color:#DCF9FE;border:1px solid #6CF;color:black;cursor:pointer;display:inline-block;height:35px;text-align:center;width:250px;box-shadow:0 0 3px black;font-size:15px;font-weight:bold;background-image:-webkit-gradient(linear,left top,bottom bottom,to(#dcf9fe),from(#9ff0ff));background-image:-webkit-linear-gradient(top,#dcf9fe,#9ff0ff);border-radius:26px;}
.LaunchButton INPUT:hover{box-shadow:0 0 1px black;background-image:-webkit-gradient(linear,left top,bottom bottom,to(#9ff0ff),from(#dcf9fe));background-image:-webkit-linear-gradient(top,#9ff0ff,#dcf9fe);}
.spacer{font-size:1.2em;line-height:1.3em;padding:5px;}
.LoginScreen .center-small{background-color:#0086bd;margin:10px auto;overflow:visible;padding-top:5px;width:250px;}
.LoginScreen .center-small #ZLoginErrorPanel{max-height:40px;overflow:auto;}
.center-small H1{margin:10px 20px 20px;}
.center-small .ImgAltBanner,.center-small .ImgAppBanner{background-position:center center;background-repeat:no-repeat;width:200px;}
.center-small .ImgAltBanner{margin:10px auto;}
.center-small .decor1{display:none;}
.center-small .form{border-collapse:collapse;color:white;margin:0 10px;text-align:left;}
.center-small .form td:first-child LABEL{margin-right:5px;}
.center-small .form INPUT[type='text'],.center-small .form INPUT[type='password']{border:1px solid #0095D3;width:155px;}
.center-small .form SELECT{width:140px;}
.center-small #ZloginWhatsThisAnchor,.center-small .offline{display:none;}
.Footer-small{position:relative;text-align:center;width:100%;}
.Footer-small .copyright{font-size:9px!important;}
.Footer-small #ZLoginNotice{display:none;}
IMG{border:none;vertical-align:middle;}
LEGEND{color:#999;}
SUBMIT,.tbButton,.searchButton{border-radius:3px;border-collapse:separate;border:1px solid white;background-image:-webkit-gradient(linear,left top,bottom bottom,to(#fff),from(#dfe2e2));background-image:-webkit-linear-gradient(top,#fff,#dfe2e2);box-shadow:0 1px 3px rgba(50,50,50,0.75);text-align:center;color:#333;font-size:11px;}
.ZhAppLinks{vertical-align:middle;white-space:nowrap;}
.ZhAppLinks a:link,.ZhAppLinks a:visited{text-decoration:none;font-weight:bold;color:darkblue;}
.ZhAppSwitchLink{white-space:nowrap;}
.ZhAppSwitchLink a,.ZhAppSwitchLink a:link,.ZhAppSwitchLink a:visited{font-size:10px;font-weight:normal;}
.Tabs{margin-right:10px;}
.Tab{padding:2px;}
.Tab SPAN{vertical-align:middle;padding-left:5px;padding-right:5px;}
.Tab .icon{padding-right:0;}
.Tab IMG{position:relative;top:-1px;left:4px;}
.TabFiller{background-color:white;border-left-width:0;border:1px solid transparent;text-align:center;white-space:nowrap;overflow:hidden;}
.TabSpacer{padding:2px;width:2px;border:none;}
.TabNormal{border:1px solid transparent;text-align:center;white-space:nowrap;overflow:hidden;color:white;}
.TabSelected{border:1px solid transparent;text-align:center;white-space:nowrap;overflow:hidden;background-color:white;border-bottom-width:0;color:#333;}
.Tabs A:link,.Tabs A:visited{color:#333;text-decoration:none;}
.Overview{width:170px;padding:0 6px 0 6px;}
.Tree{background-color:#fdfdfd;border:1px solid #a6a6a6;height:100%;height:auto;}
.Tree TD{color:#333;background-color:transparent;height:18px;margin:3px 0;padding:1px 0;cursor:pointer;padding:2px 0 2px 10px;}
.Tree TH{background-color:#d6d6d6;border-bottom:1px solid #b2b2b2;}
.Tree .Header{text-align:left;font-weight:bold;height:18px;padding:1px 5px 0 0;}
.Tree a:link,.Tree a:visited{color:#333;text-decoration:none;}
.ZhTISelected{background-color:#e7f0f7!important;}
.List,TD.List{border:1px solid #a6a6a6;border-width:1px;}
.ZhRow TD{height:18px;cursor:pointer;border-style:solid;border-width:1px 0;border-color:#f8f8f8;background-color:#fefefe;border-top-color:#fefefe;padding-right:6px;}
.ZhRowOdd TD{height:18px;cursor:pointer;border-style:solid;border-width:1px 0;border-color:#f8f8f8;background-color:#fafafa;border-top-color:#fafafa;padding-right:6px;}
.List TH{text-align:left;padding-left:3px;white-space:nowrap;overflow:hidden;cursor:pointer;padding-top:1px;border-bottom:1px solid #b2b2b2;background-color:#d6d6d6;}
.List A:link,.List A:visited{color:#333;text-decoration:none;}
.List TH A:link,.List TH A:visited{text-decoration:underline;}
.List .Img{width:20px;padding-right:0;}
.List .ImgNarrow{width:12px;padding-right:0;}
.List .CB{width:20px;padding-right:0;}
.List .Radio{width:20px;padding-right:0;text-align:center;}
.RuleList TD{padding:8px;}
.ZhDisplayRuleContent{background-color:#fafafa;border-color:#bebebe #8e8e8e #8e8e8e #bebebe;margin:0;border-width:1px;border-style:solid;}
.ZhEditRuleContent{border:1px solid #a6a6a6;}
.RuleList{background-color:#fafafa;}
.RuleHint{color:#999;font-size:9px;}
.RuleList A:link,.RuleList A:visited{color:#333;text-decoration:underline;}
.MsgStatusImg{width:20px;padding-right:6px;}
A:visited{color:blue;}
.ConvSummary A{color:#333;text-decoration:none;}
.TopContent{padding:0 15px 0 0;}
.Tree .ZhTreeEdit a:link,.Tree .ZhTreeEdit a:visited{color:#333;text-decoration:underline;}
.ZhTreeEdit{color:#CCC;font-size:11px;padding-right:4px;font-weight:normal;text-decoration:underline;}
.ZhAppContent2{background-color:#fafafa;}
.Conv2Tb{background-color:transparent;}
.ZhAppContent{border:1px solid #a6a6a6;border-width:1px;}
.ZhAppColContent{border:1px solid #a6a6a6;border-width:1px;}
.ZhAppViewContent{background-color:#fafafa;border-color:#bebebe #8e8e8e #8e8e8e #bebebe;margin:0;border-width:1px;border-style:solid;}
.SearchBar{padding:5px;}
.TbTop INPUT,.TbBottom INPUT{padding:0;margin:0;border:none;cursor:pointer;text-align:left;font-size:11px;color:#333;background-color:transparent;}
.TbTop{height:26px;padding-top:2px;background-color:transparent;}
.TbBottom{height:26px;padding-top:2px;background-color:transparent;margin-bottom:5px;}
.Tb a:link,.Tb a:visited{text-decoration:none;font-weight:normal;color:#333;}
.Tb2{background-color:transparent;}
.TbBt{padding:2px;}
.TbBt A{padding:0 5px 0 5px;}
.TbBt#caltb a:link,.TbBt#caltb a:visited{color:#333;text-decoration:none;}
.Tb SPAN{vertical-align:middle;}
.Tags SPAN{vertical-align:middle;padding-right:5px;}
.Unread{font-weight:bold;}
.RowSelected TD{background-color:#DFECF5!important;}
.RowMatched TD{background-color:yellow;}
.ZhConvExpanded TD{background-color:#eef;}
.Folder{padding-bottom:2px;}
.Folder SPAN{vertical-align:middle;padding-left:3px;}
.Paging{padding:0 5px 0 5px;}
.Compose{border:1px solid #a6a6a6;}
.Compose .tobutton{width:50px;}
.ConvSummary{background-color:#d6d6d6;border-bottom:1px solid #b2b2b2;padding:5px 0 5px 0;}
.ConvSummary2{border-bottom:1px solid #b2b2b2;background-color:transparent;padding:5px 0 5px 5px;}
.ConvSummary SPAN,.CompOrigAtt SPAN{vertical-align:middle;}
.MsgHdr{background-color:#d6d6d6;border-bottom:1px solid #b2b2b2;padding:3px;border-color:#bebebe #8e8e8e #8e8e8e #bebebe;margin:0;border-width:1px;border-style:solid;}
.MsgHdr TABLE{background-color:#d6d6d6;padding:5px 0 5px 0;}
.MsgOps{background-color:transparent;}
.MsgHdrName{width:10%;padding:3px 0 3px 0;vertical-align:top;text-align:right;font-weight:bold;white-space:nowrap;}
.MsgHdrValue{padding:3px 3px 3px 3px;vertical-align:top;overflow:hidden;}
.MsgHdrValue IMG{vertical-align:top;}
.MsgHdrSub{font-size:15px;font-weight:bold;}
.MsgHdrSender{font-size:13px;font-weight:bold;padding:3px 3px 3px 3px;vertical-align:top;overflow:hidden;}
.MsgHdrSent{padding:3px 3px 3px 3px;vertical-align:top;overflow:hidden;white-space:nowrap;}
.MsgHdrAttAnchor{padding:3px 3px 3px 3px;vertical-align:top;overflow:hidden;white-space:nowrap;}
.MsgHdrAttAnchor A,.CompOrigAtt A{color:#333;text-decoration:none;}
.MsgBody{border-color:#777 #bebebe #bebebe #777777;margin:0;border-width:1px;border-style:solid;background-color:#FFF;font-family:monospace;font-size:13px;padding:10px;overflow:auto;}
.MsgBody .zUrl{font-family:monospace;font-size:13px;}
.MsgBody-html{padding:10px;}
.MsgBody-html pre,.MsgBody-html pre *,.MsgBody-html body,.MsgBody-html Section1{white-space:pre-line;word-wrap:break-word!important;text-wrap:suppress!important;}
.MsgBody-plain-tab{display:inline;word-wrap:break-word!important;}
.MsgCompose{font-family:monospace;font-size:13px;width:99%;}
.Fragment{color:gray;font-weight:normal;}
.contactLabel{color:#333;white-space:nowrap;overflow:hidden;width:1%;text-align:right;}
.contactImage{max-width:48px;max-height:48px;}
.IEcontactImage{height:48px;}
.editContactLabel{color:#333;white-space:nowrap;overflow:hidden;width:18em;text-align:right;}
.editContactGroupLabel{width:18em;color:#333;white-space:nowrap;overflow:hidden;text-align:left;}
.editContactGroupHintLabel{color:gray;white-space:nowrap;overflow:hidden;text-align:right;}
.optionSectionLabel{color:#333;white-space:nowrap;overflow:hidden;font-size:15px;font-weight:bold;}
.sectionLabel{color:#333;white-space:nowrap;overflow:hidden;border-bottom:1px solid #8597a7;font-size:15px;font-weight:bold;}
.companyName,.companyName DIV{font-size:15px;font-weight:bold;}
.companyFolder{font-size:13px;overflow:hidden;white-space:nowrap;width:1%;}
.contactHeaderRow{background-color:#E9E9E9;height:36px;}
.contactTagsRow{background-color:#E9E9E9;}
.contactHeader,.ZhFolderHeader{font-size:18px;font-weight:bold;color:#333;overflow:hidden;padding:3 0 3 2;}
.ZhFolderHeader{white-space:nowrap;}
.ZhSchedularTbl{margin:0 10 10 10;}
.ZhSchedularTbl .allAttShDiv{border-bottom:1px solid gray!important;}
.ZhSchedularTbl .attName{border:1px solid #CDCDCD;padding:0 10px;white-space:nowrap;}
.ZhSchedularTbl .hourLblDiv{width:22px;height:22px;}
.ZhSchedularTbl .gridDiv{width:11px;height:22px;}
.ZhSchedularTbl .halfHour{width:11px;height:22px;border:1px solid silver;border-left:0;}
.ZhSchedularTbl .anHour{border-right:1px solid #aaa;}
.ZhSchedularTbl .firstDiv{border-left:1px solid silver;}
.ZhSchedularTbl .start{border-left:3px solid green;}
.ZhSchedularTbl .end{border-left:3px solid darkred;}
.ZmScheduler-F{background-color:#FFF;}
.ZmScheduler-B{background-color:#4AA6F1;}
.ZmScheduler-T{background-color:#B9EDED;}
.ZmScheduler-O{background-color:#8854AB;}
.ZmScheduler-U{background-color:#FFF5CC;}
.keyDiv{width:13px;height:13px;border:2px inset #77736a;}
.searchField{box-sizing:border-box;-webkit-box-sizing:border-box;padding:2px 4px;cursor:text;height:22px;height:auto;width:99%;}
.YsearchField{box-sizing:border-box;-webkit-box-sizing:border-box;padding:2px 4px;cursor:text;height:22px;height:auto;width:97%;}
.SearchFieldWidth{width:100%;padding-right:5px;}
.NoResults{text-align:center;padding:20px 0 20px 0;font-weight:bold;}
.InitialContactSearch{text-align:center;padding:20px 0 20px 0;color:gray;}
.ImgDisabled{opacity:.4;}
.Displayimages{cursor:pointer;background-color:#FFC;padding:7px;font-size:10pt;border-bottom:1px solid #777;}
.AttachmentImage{width:120px;height:80px;}
.ShowAllImageName{font-weight:bold;font-size:16px;}
.Status{padding:2px 0 2px 0;}
.StatusEmpty{padding:8px 0 6px 0;}
.Status DIV{padding:2px 25px 4px 25px;font-weight:bold;}
.StatusInfo{background-color:#0C0;border-color:darkgreen;margin-top:4px;background-color:#FFC;opacity:.95;border-radius:3px;box-shadow:1px 1px 2px #006f9e;}
.StatusWarning{background-color:#FF9;border-color:gold;margin-top:4px;background-color:#FFC;opacity:.95;border-radius:3px;box-shadow:1px 1px 2px #006f9e;}
.StatusCritical{background-color:#F00;border-color:red;margin-top:4px;background-color:#FFC;opacity:.95;border-radius:3px;box-shadow:1px 1px 2px #006f9e;}
.VeilOverlay{width:100%;height:100%;background-color:white;position:absolute;opacity:.5;}
.shortcutIntro{background-color:#FFC;padding:7px;border-bottom:1px solid #777;}
.shortcutList{width:100%;border-collapse:collapse;margin-bottom:10px;}
.shortcutListHeader{border:1px solid #999;}
.shortcutKeys{text-align:right;padding:6px 0;vertical-align:top;border:1px solid #b2b2b2;font-weight:bold;color:#999;}
.shortcutDescription{border:1px solid #b2b2b2;padding:5px;width:auto;}
.shortcutKeyCombo{white-space:nowrap;padding:5px;}
.shortcutKey{border:1px solid #b2b2b2;color:#333;font-weight:bold;padding:2px 4px 2px 4px;margin:1px 1px 1px 1px;line-height:22px;}
.shortcutTable{table-layout:fixed;border-collapse:collapse;margin-bottom:10px;border:1px solid #999;}
.shortcutTable TH{font-size:11px;text-align:left;font-weight:bold;padding-left:5px;color:#666;border-bottom:1px solid #999;}
.SubHead,.PanelHead{font-size:12px;font-weight:bold;padding:3 10 5 7;}
.PanelHead{background-color:#bab09a;}
.ZhSubTabs{padding-top:10px;}
.ZhEditFolderContent,.ZhEditAddressBookContent,.ZhEditCalendarContent,.ZhEditTagContent{background-color:#fafafa;border-color:#bebebe #8e8e8e #8e8e8e #bebebe;margin:0;border-width:1px;border-style:solid;}
.ZhCalType,.ZhABType,.ZhFolderType{color:#999;}
.ZhCalMonthHeaderRow{background-color:#d6d6d6;}
.ZhCalMonthTable{border-collapse:collapse;border-spacing:0;padding:0;background-color:#fafafa;}
.ZhCalMonthHeaderMonth{background-color:#d6d6d6;color:#333;font-size:18px;font-weight:bold;color:#333;overflow:hidden;white-space:nowrap;text-align:center;}
.ZhCalMonthHeaderCellsText{background-color:#d6d6d6;color:#333;font-size:13px;padding:2px;border-bottom:1px solid #b2b2b2;color:#333;overflow:hidden;white-space:nowrap;text-align:center;}
.ZhCalMonthDay,.ZhCalMonthDaySelected{border:1px solid #b2b2b2;white-space:nowrap;overflow:hidden;vertical-align:top;cursor:pointer;}
.ZhCalMonthDaySelected{background-color:#DFECF5!important;}
.ZhCalDayHeader,.ZhCalDayHeaderToday{background-color:#d6d6d6;color:#333;font-size:13px;color:#333;overflow:hidden;white-space:nowrap;text-align:center;border-bottom:1px solid #b2b2b2;line-height:2.0em;}
.ZhCalPager{color:#333;font-size:13px;color:#333;overflow:hidden;white-space:nowrap;text-align:center;}
.ZhCalMonthHeaderRow a:link,.ZhCalMonthHeaderRow a:visited{color:#333;}
.ZhCalDayHeaderToday,.ZhCalDayHeaderToday a:link,.ZhCalDayHeaderToday a:visited{color:#006f9e;}
.ZhCalDOM,.ZhCalDOMT,.ZhCalDOMO,.ZhCalDOMOT{white-space:nowrap;overflow:hidden;font-size:13px;padding-left:3px;padding-right:3px;text-align:right;}
.ZhCalMonthTable a:link,.ZhCalMonthTable a:visited,.ZhCalMiniContainer a:link,.ZhCalMiniContainer a:visited,.ZhCalMonthHeaderRow a:link,.ZhCalMonthHeaderRow a:visited{text-decoration:none;color:inherit;}
.ZhCalDOM,.ZhCalDOM a:link,.ZhCalDOM a:visited{color:#333;}
.ZhCalDOMT,.ZhCalDOMT a:link,.ZhCalDOMT:visited{color:#006f9e;}
.ZhCalDOMO,.ZhCalDOMO a:link,.ZhCalDOMO a:visited{color:#999;}
.ZhCalDOMOT,.ZhCalDOMOT a:link,.ZhCalDOMOT a:visited{color:#999;color:#006f9e;}
.ZhCalMiniContainer{background-color:#fafafa;border-color:#bebebe #8e8e8e #8e8e8e #bebebe;margin:0;border-width:1px;border-style:solid;height:135px;padding-bottom:5px;}
.ZhCalMDS{background-color:#DFECF5!important;}
.ZhCalMDOM,.ZhCalMDOMT,.ZhCalMDOMO,.ZhCalMDOMOT{white-space:nowrap;overflow:hidden;font-size:10px;padding-left:3px;padding-right:3px;padding:2px;border:0;text-align:center;}
.ZhCalMDOMT{padding:1px;border:1px solid darkred;}
.ZhCalMDHA{font-weight:bold;}
.ZhCalMDOMOT,.ZhCalMDOMOT a:link,.ZhCalMDOMOT a:visited{padding:1px;border:1px solid darkred;}
.ZhCalMDOM a:link,.ZhCalMDOM a:visited,ZhCalMDOMT a:link,.ZhCalMDOMT a:visited{color:#333;}
.ZhCalMiniTitlebar{height:26px;padding-top:2px;background-color:transparent;border-right-width:0;}
.ZhCalMiniTitleCell{white-space:nowrap;color:#333;width:auto;cursor:pointer;font-weight:normal;}
.ZhCalMiniTitleCell a:link,.ZhCalMiniTitleCell a:visited{color:#333;}
.ZhCalMiniDow{color:#999;text-align:center;font-weight:normal;}
.ZhCalMonthAppt{padding:0 5px 0 5px;}
.ZhApptSel{border:1px dashed black;}
.ZhCalMonthAllDayAppt,.ZhCalMonthAllDayApptNew,.ZhCalDayAllDayAppt,.ZhCalDayAllDayApptNew{border:2px solid #333;border-top-width:1px;border-bottom-width:1px;}
.ZhCalMonthAllDayAppt,.ZhCalMonthAllDayApptNew{padding:0 5px 0 5px;}
.ZhCalDayAllDayAppt,.ZhCalDayAllDayApptNew{cursor:pointer;}
.ZhCalDayAppt,.ZhCalDayApptNew{border:1px solid;border-color:#AAA #333333 #333 #AAAAAA;cursor:pointer;}
.ZhCalDayApptEnd,.ZhCalTimeZone{color:#999;}
.ZhCalDayHour{background-color:#fafafa;color:#333;padding:2px;border-bottom:1px solid #b2b2b2;color:#333;overflow:hidden;white-space:nowrap;text-align:center;}
.ZhCalDayHS{border-right:1px solid #b2b2b2;}
.ZhCalAllDayDS{border-left:1px solid #b2b2b2;}
.ZhCalDayHSB{border-right:1px solid #b2b2b2;border-bottom:1px solid #b2b2b2;}
.ZhCalDayHHB{border-bottom:1px solid #c1c1c1;border-bottom-style:dashed;}
.ZhCalDayHB{border-bottom:1px solid #c1c1c1;}
.ZhCalDayADB{border-bottom:1px solid #c1c1c1;border-bottom-width:4px;}
.ZhCalDaySEP{border-left:1px solid #b2b2b2;}
.ZhCalDayADHS{border-right:1px solid #b2b2b2;border-bottom:1px solid #c1c1c1;border-bottom-width:4px;}
.ZhCalDayGrid{background-color:#fafafa;}
.ZhCalDayUnionSEP{border-left:1px solid #b2b2b2;border-right:1px solid #b2b2b2;}
.ZhCalSchedUnion{text-align:center;background-color:#D90000;color:#333;width:25px;}
.apptHeaderRow{height:28px;}
.editViewLabel{width:1%;color:#333;white-space:nowrap;text-align:right;}
.apptHeader{font-size:18px;font-weight:bold;color:#333;overflow:hidden;}
.ZhCalDayGrid A:link,.ZhCalDayGrid A:visited,.ZhCalMonthTable A:link,.ZhCalMonthTable A:visited{color:inherit;text-decoration:none;}
.ZhBottomSep{border-bottom:1px solid #b2b2b2;}
.ZhApptRecurrInfo{cursor:pointer;background-color:#FFC;padding:7px 0;font-size:10pt;border-bottom:1px solid #777;}
.ZhCallListPrintTable TH{font-weight:bold;}
.ZhCallListPrintTable TD,.ZhCallListPrintTable TH{padding-left:20;padding-right:20;border-bottom:1px solid;text-align:left;}
.ZhTitle{font-size:18px;font-weight:bold;}
.ZhOptVoice .List TD,.ZhOptVoice .List TH{padding-left:20px;}
.ZhOptVoiceCBCell{width:23;}
.ZhOptVoiceRemove{padding:0;margin:0;border:none;cursor:pointer;font-size:11px;color:#333;background-color:transparent;text-decoration:underline;}
.Selection{background-color:#ADD6D6;}
.SelectionDark{background-color:#91C8C8;}
.SelectionLight{background-color:#C8E4E4;}
.SelectionBg{background-color:#E3F1F1;}
.Red{background-color:#E34040;}
.RedDark{background-color:#D90000;}
.RedLight{background-color:#EC8080;}
.RedBg{background-color:#F5BFBF;}
.RedC{color:#E34040;}
.RedDarkC{color:#D90000;}
.RedLightC{color:#EC8080;}
.RedBgC{color:#F5BFBF;}
.Pink{background-color:#F492BF;}
.PinkDark{background-color:#F06EA9;}
.PinkLight{background-color:#F8B7D4;}
.PinkBg{background-color:#FBDBE9;}
.PinkC{color:#F492BF;}
.PinkDarkC{color:#F06EA9;}
.PinkLightC{color:#F8B7D4;}
.PinkBgC{color:#FBDBE9;}
.Orange{background-color:#FF9940;}
.OrangeDark{background-color:#F70;}
.OrangeLight{background-color:#FFBB80;}
.OrangeBg{background-color:#FFDDBF;}
.OrangeC{color:#FF9940;}
.OrangeDarkC{color:#F70;}
.OrangeLightC{color:#FFBB80;}
.OrangeBgC{color:#FFDDBF;}
.Yellow{background-color:#FFE640;}
.YellowDark{background-color:#FD0;}
.YellowLight{background-color:#FFEE80;}
.YellowBg{background-color:#FFF6BF;}
.YellowC{color:#FFE640;}
.YellowDarkC{color:#FD0;}
.YellowLightC{color:#FFEE80;}
.YellowBgC{color:#FFF6BF;}
.Green{background-color:#40A05F;}
.GreenDark{background-color:#00802A;}
.GreenLight{background-color:#80C095;}
.GreenBg{background-color:#BFDFCA;}
.GreenC{color:#40A05F;}
.GreenDarkC{color:#00802A;}
.GreenLightC{color:#80C095;}
.GreenBgC{color:#BFDFCA;}
.Cyan{background-color:#40D9D9;}
.CyanDark{background-color:#0CC;}
.CyanLight{background-color:#80E6E6;}
.CyanBg{background-color:#BFF2F2;}
.CyanC{color:#40D9D9;}
.CyanDarkC{color:#0CC;}
.CyanLightC{color:#80E6E6;}
.CyanBgC{color:#BFF2F2;}
.Blue{background-color:#4073D9;}
.BlueDark{background-color:#04C;}
.BlueLight{background-color:#80A2E6;}
.BlueBg{background-color:#BFD0F2;}
.BlueC{color:#4073D9;}
.BlueDarkC{color:#04C;}
.BlueLightC{color:#80A2E6;}
.BlueBgC{color:#BFD0F2;}
.Purple{background-color:#7940A0;}
.PurpleDark{background-color:#4C0080;}
.PurpleLight{background-color:#A680C0;}
.PurpleBg{background-color:#D2BFDF;}
.PurpleC{color:#7940A0;}
.PurpleDarkC{color:#4C0080;}
.PurpleLightC{color:#A680C0;}
.PurpleBgC{color:#D2BFDF;}
.Gray{background-color:#BFBFBF;}
.GrayDark{background-color:#A9A9A9;}
.GrayLight{background-color:#D4D4D4;}
.GrayBg{background-color:#E9E9E9;}
.GrayC{color:#BFBFBF;}
.GrayDarkC{color:#A9A9A9;}
.GrayLightC{color:#D4D4D4;}
.GrayBgC{color:#E9E9E9;}
.ZhAC{position:relative;}
.ZhACB{font-weight:bold;}
.ZhACCont{position:absolute;bottom:0;}
.ZhACCont .yui-ac-content{position:absolute;border:1px solid #404040;background:#fff;overflow:hidden;z-index:9050;}
.ZhACCont .yui-ac-shadow{position:absolute;margin:.3em;background:#a0a0a0;z-index:9010;}
.ZhACCont ul{margin:0;padding:1px 0;list-style:none;}
.ZhACCont li{margin:0;padding:0 1px;cursor:default;white-space:nowrap;}
.ZhACCont li.yui-ac-highlight{background-color:#DFECF5!important;}
.ZhACCont li.yui-ac-prehighlight{background:#FFC;}
.ZhACTo{z-index:9050;}
.ZhACCc{z-index:9040;}
.ZhACBcc{z-index:9030;}
.ZOptionsHeader{font-size:15px;font-weight:bold;color:white;}
.ZHeader{font-size:13px;font-weight:bold;}
.ZOptionsHint{color:#999;}
.ZOptionsSectionMain{background-color:#EEE;padding:1em;}
.ZOptionsLabel,.ZOptionsLabelTop,.ZOptionsLabelNarrow,.ZOptionsTableLabel{width:150px;font-weight:bold;white-space:nowrap;text-align:right;vertical-align:middle;line-height:20px;}
.ZOptionsSectionTable LABEL{white-space:nowrap;}
.ZOptionsLabelTop{vertical-align:top;line-height:20px;}
.ZOptionsLabelNarrow{width:auto;}
.ZOptionsInfo{color:#999;}
.ZhDateHint{color:#999;padding-left:5px;}
.ZhHomeVoiceCell{padding:0;}
.ZhHomeVoiceIframe{background-color:#FFF;width:100%;height:240px;}
.ZhHomeVoiceBody{background-color:#FFF;width:100%;height:100%;}
.ZhHomeVoiceTable{background-color:#FFF;width:100%;}
.ZhHomeVoiceTable .ZhHomeCell{padding-left:15px;}
.ZhHomeRow{height:40px;}
.ZhHomeCell{border-bottom:1px solid #ccc;padding:5px;}
.ZhHomeTextLink{color:#000;text-decoration:none;}
.ZhContainingBox{float:left;background-color:#fff;}
.ZhThumbnailItem{background-color:transparent;background-repeat:no-repeat;cursor:pointer;float:left;height:120px;margin:8px;vertical-align:middle;width:100px;}
.ZhThumbnailItem .ZhThumbnailIcon{background-color:transparent;border:2px solid #CCC;font-size:1px;height:100px;line-height:100px;text-align:center;width:96px;}
.ZhThumbnailItem .ZhThumbnailName{display:block;font-size:11px;font-family:Helvetica,Arial,sans-serif;margin:3px 0 0 0;text-align:center;height:14px;overflow:hidden;}
.ZhThumbnailImg{margin:26px 24px;}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-subcont{padding:0 1.5em .5em 1em!important;border-bottom:1px solid #808080;}
.yui-toolbar-group-indentlist,.yui-toolbar-group-alignment{width:125px!important;}
input[type="text"],input[type="password"]{color:black;background-color:white;border:1px solid;border-color:#3b3b3b #d6d6d6 #d6d6d6 #3b3b3b;}
input[disabled]{color:#999;background-color:transparent;border:1px solid #d6d6d6;}
.ImgPrefsHeader{width:auto!important;}
RUBY,RUBY RT{text-indent:0;}
RUBY RT,RUBY RP{font-size:70%;font-weight:normal;}
RUBY RT,RUBY RB{margin-right:.7em;}
BODY{margin:0;}
#skin_outer *{box-sizing:border-box;-webkit-box-sizing:border-box;}
.skin_table{width:100%;height:100%;border-collapse:collapse;border-width:0;}
.skin_table>TBODY>TR>TD{padding:0;}
.skin_container{width:100%;height:100%;}
.skin_container_ad{width:100%;height:100%;}
.skin_td_flex{width:100%;}
#skin_outer{display:none;}
#skin_tr_search_results_toolbar{display:none;height:40px;width:100%;}
.skin_outer_ad{display:none;}
#skin_outer{background-color:#EEE;}
#skin_table_outer{padding:0;}
#skin_outer_td_main{height:100%;}
#skin_spacing_top_row{background:#0095D3;background-image:-webkit-gradient(linear,left top,bottom bottom,to(#0095d3),from(#0075a6));background-image:-webkit-linear-gradient(top,#0095d3,#0075a6);}
#skin_spacing_top_row .divider{border-left:1px solid transparent;height:60%;margin:auto 10px;}
#skin_spacing_top_row .DwtLinkButtonDropDownArrowRow{background-color:white;}
#skin_container_logo{width:170px;}
#skin_container_toast{width:100%;height:100%;}
#skin_spacing_search,#skin_spacing_people_search{height:42px;width:5px;}
#skin_container_search{height:20px;}
#skin_container_search .ZmSearchToolbar{background-color:white;border-radius:4px;}
#skin_container_search .ZButton{height:auto;}
#skin_container_search .ZButtonBorder{border:0;background-color:transparent;background-image:none;box-shadow:0 0 0 transparent;border-radius:0;}
#skin_container_search .ZLeftIcon DIV{margin:0 0 0 10px;}
#skin_container_search .ZWidgetTitle{display:none;}
#skin_spacing_tree_top{text-align:center;}
#skin_container_tree_top{height:30px;background-color:white;border:1px solid #a6a6a6;border-radius:5px 5px 0 0;}
#skin_container_username{height:auto;padding-bottom:2px;color:white;font-weight:bold;}
#skin_container_quota{height:auto;width:100%;}
#skin_dropMenu{font-size:14px;padding:0 10px 0 3px;text-align:center;vertical-align:middle;color:white;cursor:pointer;}
#skin_dropMenu .DwtLinkButtonDropDownArrowTd{border-left:0;opacity:.75;padding-left:0;}
#skin_dropMenu .ZHover .DwtLinkButtonDropDownArrowTd{opacity:1;}
#skin_container_global_buttons>DIV{display:table-cell;padding-top:2px;}
#skin_container_current_app{height:26px;padding-top:2px;background-color:transparent;}
#skin_td_switch_offline,#skin_container_help,#skin_container_logoff,#skin_container_adminlink{white-space:nowrap;text-align:center;padding:0 10px;}
#skin_container_help a,#skin_container_logoff a{color:white;}
#skin_spacing_tree{height:100%;padding-bottom:5px;}
#skin_container_tree{background-color:#fdfdfd;border:1px solid #a6a6a6;height:100%;}
#skin_tr_tree_footer{display:none;}
#skin_container_tree_footer{background-color:#fdfdfd;border:1px solid #a6a6a6;height:140px;}
#skin_container_tree_app_sash{width:5px;height:100%;}
#skin_border_app_chooser{height:29px;border-radius:5px 5px 0 0;border:solid #a6a6a6;border-width:0 0 1px 0;}
#skin_container_app_chooser{margin-right:100px;position:absolute;width:auto;height:auto;z-index:1;margin-top:-10px;}
#skin_container_app_chooser>DIV>TABLE{margin-top:10px;}
#skin_container_global_buttons .ZToolbarButton,#skin_container_global_buttons .ZToolbarButtonTable{background-color:transparent;background-image:none;border:0;box-shadow:0 0 0 transparent;}
#skin_container_global_buttons .ZToolbarButton{margin-left:3px;}
#skin_container_global_buttons .ZHover .ZToolbarButtonBorder{background-color:rgba(255,255,255,.2);}
#skin_container_global_buttons .ZFocused .ZToolbarButtonBorder{background-color:rgba(255,255,255,.2);}
#skin_container_global_buttons .ZActive .ZToolbarButtonBorder{background-color:rgba(255,255,255,.5);}
#skin_container_global_buttons .ZSelected .ZToolbarButtonBorder{background-color:white;}
#skin_tr_toolbar>TD{border-top:1px solid #999;}
#skin_spacing_app_top_toolbar{height:35px;}
#skin_container_app_top_toolbar{height:26px;padding-top:2px;background-color:transparent;width:auto;}
#skin_container_app_new_button{height:26px;padding-top:2px;background-color:transparent;width:auto;padding-left:5px;padding-right:5px;padding-bottom:2px;}
#skin_spacing_app_row{border-top:1px solid;border-spacing:0;padding:0 7px;height:22px;margin-top:-10px;}
#skin_spacing_app_row{background-color:transparent;background-color:rgba(0,0,0,.1);border-color:rgba(0,0,0,.2);border-color:rgba(0,0,0,.1);}
#skin_spacing_app_row TABLE{border-collapse:separate;}
#skin_spacing_app_row .ZToolbarButton{height:auto;}
#skin_spacing_app_main{height:100%;}
#skin_container_top_ad{height:60px;}
#skin_spacing_sidebar_ad{padding:10px 0 0 5px;}
#skin_container_sidebar_ad{width:165px;}
#skin_container_tree_top_ad{height:30px;}
#skin_container_tree_bottom_ad{height:60px;}
#skin_container_bottom_ad{height:40px;}
#skin_td_tree{width:170px;}
#skin_td_tree_app_sash{width:5px;}
#skin_td_main{width:auto;height:100%;}
#skin_td_sidebar_ad{width:165px;}
#skin_container_splash_screen{background-color:#EEE;position:absolute;left:0;top:0;width:100%;height:100%;z-index:90000000;}
.LoginScreen,.SplashScreen{position:absolute;left:0;top:0;width:100%;height:100%;overflow:hidden;font-family:"Helvetica Neue",Helvetica,Arial,"Liberation Sans",sans-serif;font-size:11px;background-color:#ddd;background-image:-webkit-gradient(linear,left top,bottom bottom,to(#f7f7f7),from(#ddd));background-image:-webkit-linear-gradient(top,#f7f7f7,#ddd);}
.LoginScreen .center,.SplashScreen .center{margin-top:-160px;margin-left:-250px;}
.LoginScreen .center-small,.SplashScreen .center-small{height:270px;margin-top:-135px;margin-left:-126px;width:250px;}
.LoginScreen .center,.LoginScreen .center-small,.SplashScreen .center,.SplashScreen .center-small{left:50%;overflow:visible;position:absolute;top:40%;z-index:11;}
.LoginScreen .contentBox,.SplashScreen .contentBox{min-height:265px;width:500px;background-color:#00638d;padding-top:25px;background-image:-webkit-gradient(linear,left top,bottom bottom,to(#0095d3),from(#00638d));background-image:-webkit-linear-gradient(top,#0095d3,#00638d);}
.LoginScreen .center-small .contentBox,.SplashScreen .center-small .contentBox{width:auto;}
.center-small .form .submittd{text-align:left;}
.LoginScreen H1,.SplashScreen H1{margin:0 0 30px 30px;}
#ZLoginAppName{display:none;}
.LoginScreen .ImgLoginBanner,.LoginScreen .ImgAppBanner,.SplashScreen .ImgLoginBanner{cursor:pointer;display:block;}
.LoginScreen .ZLoginField{border-radius:5px;}
.LoginScreen INPUT[disabled]{background-color:white;}
.LoginScreen .decor1{opacity:.3;background-image:url(skins/serenity/img/DecorationLogin.png?v=141103153734);width:500px;height:100px;}
.LoginScreen .decor2{display:none;}
.SplashScreen .decor1{opacity:.3;background-image:url(skins/serenity/img/DecorationSplash.png?v=141103153734);width:500px;height:100px;}
.SplashScreen .decor2{display:none;}
.LoginScreen .Footer,.SplashScreen .Footer,.LoginScreen .Footer-small,.SplashScreen .Footer-small{bottom:0;position:absolute;text-align:center;width:100%;z-index:10;}
.LoginScreen .copyright,.LoginScreen #ZLoginNotice,.SplashScreen .copyright{cursor:default;margin-bottom:5px;font-size:11px;color:#6b6b6b;}
.LoginScreen #ZLoginNotice A{color:#6b6b6b;}
.SplashScreen .content{color:white;text-align:center;}
.SplashScreen .message{color:white;cursor:default;padding-top:40px;font-size:15px;font-weight:bold;}
.SplashScreen .switch{margin:100px 100px 30px;margin-bottom:0;}
.SplashScreen .switch A{color:white;text-decoration:underline;font-size:11px;}
.center-small .ImgLoginBanner,.ImgAppBanner{background-repeat:no-repeat;background-position:left center;background-image:url();width:170px;height:35px;}
.ImgLoginBanner{background-repeat:no-repeat;background-image:url(whiteimg.png);width:450px;height:36px;}
.DwtVerticalSash div{position:relative;top:1px;margin-top:0;}
.UserInfoLink{width:100%;text-align:left;white-space:nowrap;}
.ZmPicker .ZToolbar{padding-top:1px;border-bottom:1px solid #b2b2b2;background-color:#d6d6d6;}
.BannerTextUser{overflow:hidden!important;}
.BannerTextUserOffline{text-align:left!important;padding:0 3px;}
.ZmAppChooser{margin:0!important;}
.ZAppTabBorder{border-radius:5px 5px 0 0;}
.ZAppTabBorder .ZLeftIcon{padding-left:10px;}
.ZAppTabBorder .ZWidgetTitle{font-size:12px;font-weight:normal;padding-bottom:4px;}
.ZAppTabBorder .ZDropDown{padding-right:10px;}
.ZSelectedPrev .ZAppTabBorder{border-right-color:white;}
.ZAppTabSpacer{height:22px;margin-top:-10px;}
.ZSelectedPrev .ZTabBorder{border-right-color:#d6d6d6;}
.ZSelectedNext .ZTabBorder{border-right-color:#ababab;}
.ZTabBarPrefix{border:solid #ababab;border-width:0 1px 1px 0;text-align:center;white-space:nowrap;overflow:hidden;width:10px;padding:0;border-right-width:0;}
.ZTabBarSuffix{border:solid #ababab;border-width:0 1px 1px 0;text-align:center;white-space:nowrap;overflow:hidden;width:100%;border-right-width:0;}
.quotaBar{height:8px;}
.quotaLabel{text-align:right;font-size:9px;}
.ZmInviteToolBar .ZToolbarTable,.ZmShareToolBar .ZToolbarTable{height:100%;}
.ZNewButton .ZToolbarButtonBorder{background-color:transparent;background-image:-webkit-gradient(linear,left top,bottom bottom,to(#fafcfd),from(#e3eef6));background-image:-webkit-linear-gradient(top,#fafcfd,#e3eef6);}
.ZNewButton.ZHover .ZToolbarButtonBorder{background-image:-webkit-gradient(linear,left top,bottom bottom,to(#fff),from(#b8def3));background-image:-webkit-linear-gradient(top,#fff,#b8def3);box-shadow:0 1px 3px rgba(50,50,50,0.75);}
.ZNewButton.ZActive .ZToolbarButtonBorder{background-image:-webkit-gradient(linear,left top,bottom bottom,to(#e3f4fc),from(#74b6dd));background-image:-webkit-linear-gradient(top,#e3f4fc,#74b6dd);box-shadow:0 0 4px rgba(50,50,50,0.65);}
.ZToolbarButtonTable TD:first-child{padding-left:5px;}
.ZToolbarButtonTable TD:last-child{padding-right:5px;}
.ZmNetworkStatus{font-weight:bold;}
.ZmNetworkStatusIcon{cursor:pointer;}
.DwtInputField INPUT[type="text"],.DwtInputField INPUT[type="password"],.DwtSimpleInput{padding:2px 4px;cursor:text;height:22px;color:black;background-color:white;border:1px solid;border-color:#3b3b3b #d6d6d6 #d6d6d6 #3b3b3b;}
.DwtInputField TEXTAREA{padding:2px 4px;cursor:text;color:black;background-color:white;border:1px solid;border-color:#3b3b3b #d6d6d6 #d6d6d6 #3b3b3b;}
.DwtInputField-error INPUT[type="text"],.DwtInputField-error INPUT[type="password"],.DwtSimpleInput-error{padding:2px 4px;cursor:text;height:22px;color:black;background-color:#F3F1BF;border:1px solid;border-color:#3b3b3b #d6d6d6 #d6d6d6 #3b3b3b;}
.DwtInputField-error TEXTAREA{padding:2px 4px;cursor:text;color:black;background-color:#F3F1BF;border:1px solid;border-color:#3b3b3b #d6d6d6 #d6d6d6 #3b3b3b;}
.DwtInputField-focused INPUT[type="text"],.DwtInputField-focused INPUT[type="password"],.DwtSimpleInput-focused{padding:2px 4px;cursor:text;height:22px;color:black;background-color:white;border:1px solid;border-color:#3b3b3b #d6d6d6 #d6d6d6 #3b3b3b;}
.DwtInputField-focused TEXTAREA{padding:2px 4px;cursor:text;color:black;background-color:white;border:1px solid;border-color:#3b3b3b #d6d6d6 #d6d6d6 #3b3b3b;}
.DwtInputField-disabled INPUT[type="text"],.DwtInputField-disabled INPUT[type="password"],.DwtSimpleInput-disabled{padding:2px 4px;cursor:text;height:22px;color:#999;background-color:transparent;border:1px solid #d6d6d6;}
.DwtInputField-disabled TEXTAREA{padding:2px 4px;cursor:text;color:#999;background-color:transparent;border:1px solid #d6d6d6;}
.DwtInputField-hint INPUT[type="text"],.DwtInputField-hint INPUT[type="password"],.DwtInputField-hint INPUT,.DwtSimpleInput-hint{padding:2px 4px;cursor:text;height:22px;color:black;background-color:white;border:1px solid;border-color:#3b3b3b #d6d6d6 #d6d6d6 #3b3b3b;color:#999;font-style:italic;}
.DwtInputField-hint TEXTAREA{padding:2px 4px;cursor:text;color:#999;font-style:italic;}
.DwtInputField-errorhint INPUT[type="text"],.DwtInputField-errorhint INPUT[type="password"],.DwtSimpleInput-errorhint{padding:2px 4px;cursor:text;height:22px;color:black;background-color:#F3F1BF;border:1px solid;border-color:#3b3b3b #d6d6d6 #d6d6d6 #3b3b3b;color:#999;font-style:italic;}
.DwtInputField-errorhint TEXTAREA{color:black;background-color:#F3F1BF;border:1px solid;border-color:#3b3b3b #d6d6d6 #d6d6d6 #3b3b3b;color:#CCC;}
TEXTAREA .BannerBar *{font-size:9px;}
.BannerBar{padding-top:1px;height:1px;}
.BannerBar TD{padding-right:0;}
.BannerBar .quotabar{background-color:white;}
.BannerTextQuota{text-align:center;vertical-align:top;}
.BannerTextUser,.BannerTextQuota{cursor:default;}
.BannerTextQuota-MultiAccount{padding-top:5px;}
INPUT[type="text"],INPUT[type="password"]{border-color:#2f2f2f #a6a6a6 #a6a6a6 #2f2f2f;margin:0;border-width:1px;border-style:solid;}
SELECT{border-color:#2f2f2f #a6a6a6 #a6a6a6 #2f2f2f;margin:0;border-width:1px;border-style:solid;}
.TabSpacer{display:none;}
.Tab{white-space:nowrap;height:30px;padding-right:5px!important;}
.TbTop{border-width:0 1 1 0!important;padding-right:5px!important;}
.TbBottom{border-width:0 1 1 0!important;padding-right:5px!important;}
.TabFiller{width:100%;}
.List .Header TH{border-right:1px solid #b2b2b2;}
.ZhSubTabs{background-color:#d6d6d6;padding-top:2px;}
.ZhSubTabs{padding:5px!important;}
.ZhSubTabs .TabSelected{background-color:#fdfdfd;border-bottom-color:#fdfdfd;border-radius:3px 3px 0 0;color:#333;cursor:pointer;}
.ZhRow TD,.ZhRowOdd TD{border-width:0 0 1 0!important;padding-left:3px!important;}
.ZmSearchToolbarCell .ZSelected .ZToolbarButtonBorder{background-color:#FBF9F4!important;border:2px inset;color:white;}
.ZAppTabBorder .ZLeftIcon DIV{display:none;}
.AlphabetBarTable .DwtButton,.AlphabetBarTable .DwtButton-hover,.AlphabetBarTable .DwtButton-active{border-radius:0;box-shadow:0 0 0 transparent;border-color:white;}
.AlphabetBarTable TD:first-child{border-radius:3px 0 0 3px;}
.AlphabetBarTable TD:last-child{border-radius:0 3px 3px 0;}
.DwtListView-Column{background-color:#f3f3f3;}
.DwtListView-Column td{color:#6b6b6b;}
.overviewHeader,.overviewHeader-actioned{background-color:#bebebe;border:0;padding:1px 0;}
.overviewHeader>TABLE,.overviewHeader-actioned>TABLE{border:1px solid white;}
.overviewHeader TD,.overviewHeader-actioned TD{background-color:#f3f3f3;}
.overviewHeader .ZButton,.overviewHeader-actioned .ZButton{height:auto;}
.FirstOverviewHeader.overviewHeader,.FirstOverviewHeader.overviewHeader-actioned{padding-top:0;}
.RowDouble{height:auto;padding-top:0;}
.RowDouble>TABLE{border:1px solid white;}
.RowDouble .TopRow,.RowDouble .ImgCheckboxChecked,.RowDouble .ImgCheckboxUnchecked{margin:6px 0 4px;}
.RowDouble .BottomRow{margin:4px 0 6px;}
.Row-matched,.RowDouble-matched{background-color:#FFFEC4;}
.ZToolbarTable .vertSep{border-color:transparent;}
.appt_new_time .ImgBlank_16,.appt_time .ImgBlank_16{display:none;}
.ImgRefreshAll{background:url() 0 0 no-repeat;width:16px!important;height:16px!important;overflow:hidden;}